*{
	font-family: arial;
}

.main {
	max-width: 80%;
}

.registration_form {
	width: 15%;
	margin-right: auto;
	margin-left: auto;
}

.registration_form input {
	padding-left: 2%;
	margin-bottom: 4%;
	font-weight: 300;
	
}

.registration_form button {
	margin-top: 6%;
	width: 74%;
	
}

